@model IEnumerable<CmsShop.Models.ViewModels.Shop.CategoryViewModel>

@{
    ViewBag.Title = "Sklep kategorie";
}

<h2>Sklep kategorie</h2>

<div class="new-cat">
    <input type="text" id="newCatName" />
    <p>
        <a href="#" id="newCata">Dodaj Nową Kategorie</a>
        <span class="ajax-text">
            <img src="~/Content/img/Spinner-1s-30px.gif" />
        </span>
    </p>

</div>

@if (!Model.Any())
{
    <h1 class="text-center">Niema żadnych ketegorii</h1>
}
else
{
    <table class="table sorting categories" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="ajaxdivtd"></div>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>
                    @Html.ActionLink("Usuń", "DeleteCategory", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}

@section scripts {

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <script>
        $(function () {

            /*
             * Dodawanie nowej kategori
             */

            var newCatA = $("a#newCata");
            var newCatTextInput = $("#newCatName");
            var ajaxText = $("span.ajax-text");
            var table = $("Table#pages tbody");


            // akcja kiedy klikamy w guzik (ENTER)

            newCatTextInput.keyup(function (e) {

                if (e.keyCode == 13) {
                    newCatA.click();
                }


            })
            newCatA.click(function (e) {

                e.preventDefault();

                var catName = newCatTextInput.val();

                if (catName.length < 2) {
                    // to czerwone pod polem tekstowym
                    alert("Nazwa kategori musi mieć conajmniej 2 znaki")
                    return false
                }
                //pokazuje gifa "ładowanie"
                ajaxText.show();

                var url = "/admin/shop/AddNewCategory"

                $.post(url, { catName: catName }, function (data) {

                    var response = data.trim();
                    if (response == "tytułzajety") {
                        ajaxText.html("<spna class = 'alert alert-danger'>Ten tytuł już jest zajęty!</span>")
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img  src=/Content/img/Spinner-1s-30px.gif />");

                            });

                        }, 2000);
                        return false;
                    } else {
                        if (!$("table#pages").length) {
                            location.reload();
                        }
                        else {
                            ajaxText.html("<span class = 'alert alert-success'>Kategoria została dodana</span>")
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () {
                                    ajaxText.html("<img  src=/Content/img/Spinner-1s-30px.gif />");
                                });
                            }, 2000);

                            newCatTextInput.val("");        //czyszczenie pola tekstowego "dodaj nową kategorię

                            var toAppend = $("table#pages tbody tr:last").clone();
                            toAppend.attr("id", "id_" + data)   // ustawiasz atrybut id do sortowania
                            toAppend.find("#item_Name").val(catName);
                            toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory/" + data);   // link do usuwania + id
                            table.append(toAppend);
                            table.sortable("refresh");      //przekazyjemy do tablicy refresh

                        }
                    }
                })

            })


            /////////////////////////////////////////////////////////////////////////////////

            /*
             * Sortowanie kategori
             */
            // tbody zawartość tabeli
            $(function () {
                $("table#pages tbody").sortable({
                    items: "tr:not(.home)",
                    placeholder: "ui-state-highlight",
                    update: function () {
                        var ids = $("table#pages tbody").sortable("serialize");
                        var url = "/Admin/Shop/ReorderCategories";

                        $.post(url, ids, function (data) {

                        });
                    }
                });
            });

            /////////////////////////////////////////////////////////////////////////////////

            //Zmiana nazwy kategori


            var orginalTextBoxValue;
            $("table#pages input.text-box").dblclick(function () {

                orginalTextBoxValue = $(this).val();
                $(this).attr("readonly", false);
            });

            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    @(this).blur();
                }
            });

            $("table#pages input.text-box").blur(function () {
                var $this = $(this);
                var ajaxdiv = $this.parent().find(".ajaxdivtd");
                var newcatName = $this.val();
                var id = $this.parent().parent().attr("id").substring(3);
                var url = "admin/shop/RenameCategory";

                // Sprawdzam czy nowa nazwa ma więcej niż 2 znaki Jeśli ma <2 znaki to funkcja sie nie wykona
                if (newcatName.length < 2) {
                    alert("Nazwa kategori musi mieć conajmniej 2 znaki");
                    $this.attr("readonly", true);
                    return false;
                }
                //Wywołanie asynchronicznie motody post
                $.post(url, { newcatName: newcatName, id: id }, function (data) {       //deklarujemy ajax-owa metode ".post" do której przekazujemy url, przekazujemy dane (nowa nazwa kategori to nowa nazwa kategori), id = id 

                        //Odpowiedz true or false 
                        var response = data.trim();                 // .trim() => Usuwa puste znaki
                        if (response == "tytułzajety") {
                            $this.val(orginalTextBoxValue);         // jeśli nazwa kategori nie zostanie zmieniona to przywraca oryginalna wartoć pola nazwa kategorii
                            ajaxdiv.html("<span class='alert alert-danger'>Ta kategoria jest już zajęta!</span>").show();
                        }
                        else {
                            ajaxdiv.html("<span class='alert alert-succes'>Nazwa kategorii została zmieniona!</span>").show();
                        }

                        setTimeout(function () {
                            ajaxdiv.fadeOut("fast", function () {
                                ajaxdiv.html("");
                            });
                        }, 2000);
                }).done(function () {
                        $this.attr("readonly", true);
                 });
            });

            /////////////////////////////////////////////////////////


            /*
             * Potwierdzenie usuwania kategori
             */
            $(function () {
                $("body").on("click", "a.delete", function () {                             //odnosimy sie do body, do body dodajemy zdarzenie click i bedziemy chcieli nadać (clika do każdego elementu delete)
                    if (!confirm("Potwierdzasz usunięcie kategori")) return false;          // wyswietlanie potwierdzenia czy chce usunąć kategorie
                });
            });

        });

    </script>

}
